#build-menu-page
{
    left: 0;
    position: relative;
    background-color: #fff;
}

#build-menu
{
    visibility: visible;
    z-index: 0;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    display: none;
    width: 200px;
    padding: 0;
    position: static;
    z-index: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    left: 0;
}

.build-menu-animating #build-menu-page
{
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    bottom: 0;
}

.build-menu-animating.build-menu-close #build-menu-page, .build-menu-animating.build-menu-open #build-menu-page
{
    -webkit-transition: -webkit-transform 250ms;
    -moz-transition: -moz-transform 250ms;
    -o-transition: -o-transform 250ms;
    -ms-transition: -ms-transform 250ms;
    transition: transform 250ms;
}

.build-menu-animating.build-menu-open #build-menu-page
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.build-menu-animating #build-menu
{
    display: block;
}

.build-menu-open #build-menu
{
    display: block;
    -webkit-transition-delay: 0ms, 0ms, 0ms;
    -moz-transition-delay: 0ms, 0ms, 0ms;
    -o-transition-delay: 0ms, 0ms, 0ms;
    -ms-transition-delay: 0ms, 0ms, 0ms;
    transition-delay: 0ms, 0ms, 0ms;
}

.build-menu-open #build-menu, .build-menu-close #build-menu
{
    -webkit-transition: -webkit-transform 250ms, opacity 250ms, visibility 0ms 250ms;
    -moz-transition: -moz-transform 250ms, opacity 250ms, visibility 0ms 250ms;
    -o-transition: -o-transform 250ms, opacity 250ms, visibility 0ms 250ms;
    -ms-transition: -ms-transform 250ms, opacity 250ms, visibility 0ms 250ms;
    transition: transform 250ms, opacity 250ms, visibility 0ms 250ms;
}
#build-menu
{
    background: #5a5959 url(../images/menuBg.gif) top left repeat-y;
}
ul.ul-nav
{
    margin: 0;
    padding: 0;
    width: inherit;
}
ul.ul-nav li
{
    list-style-type: none;
    margin: 0;
}
ul.ul-nav li a:link, ul.ul-nav li a:visited
{
    border-bottom: solid #333 1px;
    box-shadow: 0 1px 0 #727272;
    color: #fff;
    font-size: 14px;
    font-family: arial;
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 10px;
    text-shadow: 0 1px 1px #000;
}
ul.ul-nav li a:hover, ul.ul-nav li a:active
{
    background-color: #716f6f;
}
#mobile-bar
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#CC7F2E),color-stop(100%,#9D6034));
    border: none !important;
    border-bottom: solid #878787 1px !important;
    color: #000 !important;
    text-shadow: 0 1px 1px #fff;
    height: 42px !important;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	z-index:9999;
}
#build-menu-button
{
    background: url(../images/bgx.png) no-repeat -261px -40px;
    background-size: auto;
    border: none !important;
    height: 22px;
    width: 22px;
    margin-left: 10px !important;
    display: inline-block;
    margin-top: 10px;
}
